

.card{
    background-color: rgb(201, 240, 186);
    width: 370px;
    height: 380px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: .3s;
}

.card:hover{
    background-color: rgb(88, 148, 100);
}


.imageUrl{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.link{
    text-decoration: none;
    color: rgb(16, 23, 53);
    font-weight: bold;
}
.destination{
    display: flex;
font-size: larger;
font-weight: bold;

}
.date{
    display: flex;
   justify-content:flex-start;
   
}